*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
    color: inherit;
}

:root{
    /* Standard dimensions */
    --header-height: 13.6rem;
    --main-dimension-img: 30.8rem;
    
    /* Main colors */
    --dark-tone: #BA7530;/*#9A7757;*/
    --medium-tone: #FFE599;
    --light-tone: #F8EBAF;
    --lightness-tone: #FFFFFF;

    /* Border colors */
    --dark-border: #BA7530;
    --light-border: #C1C1C1;
}

html{
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body{
    color: var(--dark-tone);
    background-color: var(--light-tone);
    font-family: 'Lexend Deca', sans-serif;
    font-size: 1.8rem;
}

.hidden{
    display: none !important;
}

/* Common container for every section */
.main-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2.5rem;
    max-width: 900px;
}

.main-container h1{
    font-size: 2.8rem;
}

/* Common styles of every section containers */
section{
    min-height: 100dvh;
    display: flex;
    padding-top: calc(var(--header-height) + 1rem);
    padding-bottom: 1rem;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding-left: 5rem;
    padding-right: 5rem;
}

/* Home section */
#home{
    background-color: var(--light-tone)
}

#home .main-container{
    gap: 6.5rem;
}

.home-tit-container{
    display: flex;
    flex-direction: column;
}

.home-tit-container img{
    width: 20.8rem;
    height: 7.8rem;
}

.home-tit-container p{
    font-size: 1.35rem;
    font-weight: bold;
    line-height: 2rem;
}

.home-img{
    background-image: url('../img/professionals.png');
    background-size: 104%;
    background-repeat: no-repeat;
    background-position: 14% 76%;
    width: 30.8rem;
    height: 30.8rem;
    border: 0.4rem solid var(--dark-border);
    border-radius: 50%;
}

.home-content{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 2rem;
}

.home-content p{
    font-size: 1.6rem;
    line-height: 2rem;
    text-align: justify;
}

.home-content ul li{
    list-style: none;
    font-size: 1.4rem;
}


/* Common styles for Header, Footer, nav */
header, footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #FFFFFF;
    height: var(--header-height);
    padding: 2.8rem;
    width: 100%;
}

/* Common styles for logo-header and logo-footer */
.logo-header, .logo-footer{
    display: flex;
    gap: 1rem;
}

/* Header section */
header{
    position: fixed;
    top: 0;
    background: linear-gradient(90deg,var(--dark-tone) 0%, var(--light-tone) 85%);
    z-index: 1000;
}    

.logo-header{
    align-items: center;
}

.logo-header img{
    height: 6.28rem;
}

.logo-header p{
    font-size: 3rem;
    font-weight: bold;
    line-height: 2.7rem;
    width: 9.7rem;
}

/* Footer section */
footer{
    background: linear-gradient(90deg,var(--light-tone) 0%, var(--dark-tone) 85%);
}        

.logo-footer{
    flex-direction: column;
    align-items: center;
    gap: 0.6rem;
}

.logo-footer img{
    width: 7.1rem;
}

.logo-footer p{
    font-size: 0.8rem;
    font-weight: bold;
    line-height: 0.8rem;
    width: 6.305rem;
    text-align: center;
}

.content-footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.content-footer p{
    width: 22rem;
    font-weight: bold;
    text-shadow: 0.2rem 0.2rem 0.4rem #000;
}

.content-footer p:nth-child(1){
    font-size: 1.8rem;
}

.content-footer p:nth-child(2){
    font-size: 1.6rem;
}

.content-footer p:nth-child(3){
    font-size: 1.3rem;
}


/* Desktop menu */
nav{
    width: 100%;
    height: 5.8rem;
    display: none;
}

nav ul{
    display: flex;
    justify-content: space-around;

}

nav ul li, .mobile-menu-content ul li{
    list-style: none;
    font-size: 2rem;
    padding: 0.8rem 1.6rem;
    border-radius: 3rem;
    cursor: pointer;
    border: 0.3rem solid transparent;
    transition: border 0.6s ease-in-out;
    margin: auto auto;
}

nav ul li:hover{
    border: 0.3rem solid var(--lightness-tone);
}

/* Mobile menu */
.mobile-menu-icon{
    font-size: 3rem;
    text-align: center;
    cursor: pointer;
}

.mobile-menu{
    display: flex;
    position: relative;
}

.mobile-menu-content{
    position: absolute;
    top: 3rem;
    right: 0;
    background-color: var(--dark-tone);
    width: 22rem;
    display: none;
}

/* Show menu on hover (desktop) or when .open is present (touch/click) */
.mobile-menu:hover .mobile-menu-content{
    display: block;
}

.mobile-menu-content ul li{
    transition: background-color 0.4s ease-in-out;
    border-radius: 0;
}

.mobile-menu-content ul li:hover{
    background-color: #1D3358;
}

/* About-us section */
#about-us{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2.5rem;
    background-color: var(--medium-tone);
}

.about-us-img{
    width: 24rem;
    height: 24rem;
    border: 0.3rem solid var(--dark-border);
    border-radius: 50%;
}

.about-us h2{
    font-size: 2.5rem;
    line-height: 2.5rem;
}

#about-us .main-container p{
    font-size: 1.8rem;
    line-height: 2.0rem;
    text-align: justify;
}

.slider{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2.5rem;
    width: 30.8rem;
    background-color: var(--light-tone);
    padding: 2rem 1rem 1rem;
    border: 0.3rem solid var(--dark-tone);
    border-radius: 2rem;
    overflow: hidden;
}

.slider-container{
    display: flex;
    width: 100%;
    min-width: 30.8rem;
    position: relative;
}

.slide{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    min-width: 30.8rem;
}

.prevBtn, .nextBtn{
    transition: filter 0.3s ease-in-out;
}

.prevBtn:hover, .nextBtn:hover{
    filter: brightness(1.5);
}

.about-us-professional{
    display: flex;
    gap: 1rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.slide p{
    padding: 1.5rem;
}

.slider-controls{
    display: flex;
    border: 0.3rem solid var(--dark-border);
    border-radius: 1.8rem;
    width: 11rem;
    height: 3rem;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}

.slider-controls img{
    width: 1.7rem;
    height: 1.4rem;
    cursor: pointer;
}

.slider-controls img:nth-child(2){
    transform: rotate(180deg);
}

/* Skills section */
#skills{
    background-color: var(--dark-tone);
}

#skills .main-container h1{
    color: var(--lightness-tone)
}

.skills-grid-img{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    justify-items: center;
    align-items: center;
    height: 29.5rem;
    position: relative;
}

.feeling-img{
    width: 9.7rem;
    height: 9.7rem;
    border: 0.4rem solid var(--medium-tone);
    border-radius: 50%;
}

.professionals-skills-container{
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.skills-professionals-img{
    width: 20.9rem;
    height: 20.9rem;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
    border: 0.4rem solid var(--medium-tone);
    border-radius: 50%;
}

.skills-grid-img .feeling-img:nth-child(1){
    grid-column-start: 1;
    grid-column-end: 2;
}

.skills-grid-img .feeling-img:nth-child(2){
    grid-column-start: 3;
    grid-column-end: 4;
}

.skills-grid-img .feeling-img:nth-child(3){
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 4;
}

.skills-grid-img .feeling-img:nth-child(4){
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end: 4;
}

.skills-main-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

.skill-description-container{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 2.5rem;
    width: 30.4rem;
    padding: 2.5rem 1.8rem;
    background-color: var(--light-tone);
    border-radius: 2.5rem;
}

.skill-description-container h2{
    font-size: 2.2rem;
    line-height: 2.2rem;
}

.skill-description-container p{
    font-size: 1.6rem;
    line-height: 1.8rem;
    text-align: justify;
}

/* Key Differentiators section */
#key-differentiators .main-container{
    gap: 4rem
}

.key-differentiators-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4rem;
}

.key-differentiator{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    line-height: 3.2rem;
    background-color: var(--dark-tone);
    color: var(--lightness-tone);
    width: 34rem;
    height: 12rem;
    padding: 3rem 1.4rem;
    border-radius: 5rem 0 5rem 0;
    font-size: 2rem;
    line-height: 2.3rem;
    transform: scale(1);
    transition: transform 0.3s ease-in-out;
}

.key-differentiator:hover{
    transform: scale(1.1);
}

.services-img,
#wellcoming-service,
#selfcare{
    display: none;
}


/* Contact section */
#contact{
    background-color: var(--dark-tone);
}

#contact .main-container h1{
    color: var(--lightness-tone);
}

.contact-container{
    width: 32.6rem;
    height: 21.1rem;
    background-image: url('../img/blank-note-landscape.png');
    background-size: 100%;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 3rem 3rem 0 3rem;
}

.contact-container img:nth-child(1){
    width: 6rem;
    height: 6rem;
    border-radius: 50%;
}

.contact-data-container{
    display: flex;
    align-items: center;
    gap: 2rem;
    width: 100%;
}

.contact-data-container p{
    font-size: 2rem;
    font-weight: bold;
    line-height: 2.5rem;
}

/* Responsivity */

/* Smaller mobiles */
@media screen and (max-width: 375px){
    section{
        padding-top: calc(var(--header-height) + 2rem);
    }
    
    .home-img{
        width: 25rem;
        height: 25rem;
    }

    #home .main-container{
        gap: 3.5rem;
    }

    .slider{
        gap: 1.5rem;
    }

    .slider, .slider-container, .slide{
        width: 28rem;
        min-width: 28rem;
    }

    .slide{
        display: flex;
        flex-direction: column;
        width: 25rem;
        min-width: 28rem;
        gap: 1.5rem;
    }

    .slide h2{
        font-size: 2rem;
        line-height: 2.2rem;
    }

    #about-us .main-container p{
        font-size: 1.5rem;
        line-height: 1.7rem;
        padding: 0 1rem;
    }

    /* .about-us-img{
        width: 20rem;
        height: 20rem;
    } */

}

/* Tablets */
@media screen and (min-width: 600px){
    /* Home section */
    .home-img{
        width: 35rem;
        height: 35rem;
    }
    
    .home-tit-container img{
        width: 30rem;
        height: 11.25rem;
    }

    .home-tit-container p{
        font-size: 2rem;
    }

    .home-content p{
        font-size: 2rem;
    }

    .home-content ul li{
        font-size: 2rem;
    }
}

/* Medium tablets */
@media screen and (min-width: 768px){
    section {
        padding-top: calc(var(--header-height) + 5rem);
    }
    
    .main-container h1{
        font-size: 3.5rem;
    }

    .main-container h2{
        font-size: 2.8rem;
    }

    /* About-us section */
    /* .about-us-img{
        width: 33rem;
        height: 33rem;
    } */

    .slider{
        width: 40rem;
        padding: 2rem 1rem 1rem;
        border-radius: 2rem;
    }

    .slider-container{
        width: 100%;
        min-width: 40rem;
    }

    .slide{
        min-width: 40rem;
    }

    .slide p{
        padding: 1.5rem;
    }

    #about-us .main-container p{
        font-size: 2.2rem;
        line-height: 2.5rem;
    }

}

/* Larger tablets */
@media screen and (min-width: 900px){
    section {
        padding-top: calc(var(--header-height) + 8rem);
    }
    
    .main-container{
        gap: 4rem;
    }

    .main-container h1{
        font-size: 4rem;
    }

    .main-container h2{
        font-size: 3.2rem;
    }

    /* Home section */
    .home-img{
        width: 45rem;
        height: 45rem;
    }
    
    .home-tit-container img{
        width: 40rem;
        height: 15rem;
    }

    .home-content .home-tit-container p{
        font-size: 3rem;
    }

    .home-content p{
        font-size: 2.3rem;
    }

    .home-content ul li{
        font-size: 2.3rem;
    }

    .slider{
        width: 50rem;
        padding: 2rem 1rem 1rem;
        border-radius: 2rem;
        padding: 4rem;
    }

    .slider-container{
        width: 100%;
        min-width: 50rem;
    }

    .slide{
        min-width: 50rem;
        padding: 2rem;
    }

    #about-us .main-container p{
        font-size: 2.6rem;
        line-height: 2.8rem;
        padding: 1.5rem;
        width: 100%;
    }

    /* Skills section */
    #skills{
        padding-bottom: 5rem;
    }

    .skills-grid-img {
        width: 38rem;
        height: 35rem;
    }
    .skills-professionals-img{
        width: 28rem;
        height: 28rem;
    }

    .skill-description-container{
        width: 40rem;;
    }

    .skill-description p{
        font-size: 2rem;
        line-height: 2.2rem;
        text-align: justify;
    }

    /* Contact section */
    .main-contact-container{
        display: grid;
        gap: 1rem 2rem;
        width: 100%;
        grid-template-columns: 1fr 1fr;
    }

}

/* Desktops and larger screen*/
@media screen and (min-width: 1280px){
    .mobile-menu{
        display: none;
    }

    header{
        display: flex;
        justify-content: space-between;
        padding-right: 25rem;
    }

    nav{
        display: flex;
        width: fit-content;
    }
    
    section, #about-us{
        padding-top: calc(var(--header-height) - 2rem);
    }

    .main-container h1{
        font-size: 3rem;
    }

    .main-container h2{
        font-size: 2.7rem;
    }

    header{
        height: calc(var(--header-height) - 3rem);
    }

    /* Home section */
    #home{
        padding-top: calc(var(--header-height) + 2rem);
    }
    
    #home .main-container{
        flex-direction: row;
        align-items: center;
        gap: 3rem
    }

    .home-img{
        width: 40rem;
        height: 40rem;
    }

    .home-content .home-tit-container p,
    .home-content ul li{
        font-size: 2.3rem;
    }

    /* About-us section */
    .slider{
        width: 80rem;
        padding: 2rem 1rem 1rem;
        border-radius: 2rem;
    }

    .slider-container{
        width: 100%;
        min-width: 80rem;
        height: 28rem;
    }

    .slide{
        min-width: 80rem;
        flex-direction: row;
    }

    #about-us .main-container p {
        font-size: 1.8rem;
        line-height: 2.5rem;
    }

    .about-us-professional{
        flex-direction: column;
    }

    /* .about-us-img{
        width: 25rem;
        height: 25rem;
    } */

    .slide p{
        padding: 1.5rem;
    }

    /* Skills section */
    .skill-description p{
        font-size: 1.7rem;
        line-height: 2.5rem;
    }

    .skills-main-container{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    /* Key-differentiators section */
    .key-differentiators-content{
        max-width: 900px;
        display: grid;
        gap: 0;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, 1fr);
        height: 40rem;
        position: relative;
    }

    .key-differentiator{
        font-size: 1.7rem;
        line-height: 2.2rem;
        width: 27rem;
    }

    .key-differentiator:nth-child(1){
        grid-column-start: 1;
        grid-column-end: 2;
    }

    .key-differentiator:nth-child(2){
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 2;
        grid-row-end: 3;
    }

    .key-differentiator:nth-child(3){
        grid-column-start: 3;
        grid-column-end: 4;
        grid-row-start: 3;
        grid-row-end: 4;
    }
    
    .services-img{
        display: block;
        height: 100%;
        width: 100%;
        position: absolute;
    }
    
    #selfcare{
        display: block;
        width: 20rem;
        position: absolute;
        top: 0;
        right: 0;
    }
    
    #wellcoming-service{
        display: block;
        width: 25rem;
        bottom: 0;
        left: 0;
        position: absolute;
    }
    
    footer{
        height: calc(var(--header-height) - 3rem);
    }

}