*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
    color: inherit;
}

:root{
    /* Standard dimensions */
    --header-height: 13.6rem;
    
    /* Main colors */
    --dark-tone: #9A7757;
    --medium-tone: #E0CFB5;
    --light-tone: #E6DAC8;
    --lightness-tone: #FFFFFF;

    /* Border colors */
    --dark-border: #9A7757;
    --light-border: #C1C1C1;
}

html{
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body{
    color: var(--dark-tone);
    background-color: var(--light-tone);
    font-family: 'Lexend Deca', sans-serif;
    font-size: 1.8rem;
}

.hidden{
    display: none !important;
}

/* Common container for every section */
.main-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2.5rem;
}

/* Common styles of every section containers */
section{
    min-height: 100dvh;
    display: flex;
    padding-top: calc(var(--header-height) + 5rem);
    padding-bottom: 1rem;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding-left: 5rem;
    padding-right: 5rem;
}

/* Home section */
#home{
    background-color: var(--light-tone)
}

#home .main-container{
    gap: 6.5rem;
}

.home-tit-container{
    display: flex;
    flex-direction: column;
}

.home-tit-container img{
    width: 20.8rem;
    height: 7.8rem;
}

.home-tit-container div{
    font-size: 1.35rem;
    font-weight: bold;
    line-height: 2rem;
}

.home-img{
    background-image: url('../img/professionals.png');
    background-size: 104%;
    background-repeat: no-repeat;
    background-position: 14% 76%;
    width: 30.8rem;
    height: 30.8rem;
    border: 0.8rem solid var(--dark-border);
    border-radius: 50%;
}

.home-content{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 2rem;
}

.home-content p{
    font-size: 1.6rem;
    line-height: 2rem;
    text-align: justify;
}

.home-content ul li{
    list-style: none;
    font-size: 1.4rem;
}


/* Common styles for Header, Footer, nav */
header, footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #FFFFFF;
    height: var(--header-height);
    padding: 2.8rem;
    width: 100%;
}

/* Common styles for logo-header and logo-footer */
.logo-header, .logo-footer{
    display: flex;
    gap: 1rem;
}

/* Header section */
header{
    position: fixed;
    top: 0;
    background: linear-gradient(90deg,var(--dark-tone) 0%, var(--medium-tone) 85%);
    z-index: 1000;
}    

.logo-header{
    align-items: center;
}

.logo-header img{
    height: 6.28rem;
}

.logo-header p{
    font-size: 3rem;
    font-weight: bold;
    line-height: 2.7rem;
    width: 9.7rem;
}

/* Footer section */
footer{
    background: linear-gradient(90deg,#0E3E83 0%, #07192A 100%);
}        

.logo-footer img{
    width: 1.625rem;
    height: 2.21rem;
}

.logo-footer p{
    font-size: 1.3rem;
    font-weight: bold;
    line-height: 1.1rem;
    width: 6.305rem;
}

.content-footer p{
    width: 14rem;
    line-height: 1.2rem;
}


/* Desktop menu */
nav{
    width: 100%;
    height: 5.8rem;
    display: none;
}

nav ul{
    display: flex;
    justify-content: space-around;

}

nav ul li, .mobile-menu-content ul li{
    list-style: none;
    font-size: 2rem;
    padding: 0.8rem 1.6rem;
    border-radius: 2.5rem;
    cursor: pointer;
    border: 0.3rem solid transparent;
    transition: border 0.6s ease-in-out;
}

nav ul li:hover{
    border: 0.3rem solid #546A85;
}

/* Mobile menu */
.mobile-menu-icon{
    font-size: 3rem;
    text-align: center;
    cursor: pointer;
}

.mobile-menu{
    display: flex;
    position: relative;
}

.mobile-menu-content{
    position: absolute;
    top: 3rem;
    right: 0;
    background-color: #546A85;
    width: 22rem;
    display: none;
}

/* Show menu on hover (desktop) or when .open is present (touch/click) */
.mobile-menu:hover .mobile-menu-content{
    display: block;
}

.mobile-menu-content ul li{
    transition: background-color 0.4s ease-in-out;
    border-radius: 0;
}

.mobile-menu-content ul li:hover{
    background-color: #1D3358;
}

/* About-us section */
#about-us{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2.5rem;
}

.about-us-img{
    background-image: url('../img/professionals.png');
    background-size: 300%;
    background-repeat: no-repeat;
    width: 30.8rem;
    height: 30.8rem;
    border: 0.8rem solid var(--dark-border);
    border-radius: 50%;
}

.about-us h2{
    font-size: 2.5rem;
    line-height: 2.5rem;
}

#about-us .main-container p{
    font-size: 1.8rem;
    line-height: 2.0rem;
    text-align: justify;
}

.slider{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2.5rem;
    width: 30.8rem;
}

.slider-container{
    display: flex;
    overflow: hidden;
    width: 100%;
}

.slide-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2.5rem;
    animation: slider-auto 40s infinite ease-in-out;
}

#about-us-eronilde{
    background-position: 38% 40%;
}

#about-us-tania{
    background-position: 106% 58%;
}

#about-us-david{
    background-position: 77% 32%;
}

#about-us-felipe{
    background-position: 0% 33%;
    background-size: 330%;
}

/* Animation definitions */
@keyframes slider-auto {
    /* Slide 1 (0s a 10s) */
    0%, 20% { transform: translateX(0%); }
    
    /* Transição para Slide 2 */
    25%, 45% { transform: translateX(-100%); }
    
    /* Transição para Slide 3 */
    50%, 70% { transform: translateX(-200%); }
    
    /* Transição para Slide 4 */
    75%, 95% { transform: translateX(-300%); }
    
    /* Volta para o início de forma suave */
    100% { transform: translateX(0%); }
}

.slider-controls{
    display: flex;
    border: 0.2rem solid var(--dark-border);
    border-radius: 1.8rem;
    width: 11rem;
    height: 3.5rem;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}

.slider-controls img{
    width: 1.9rem;
    height: 1.6rem;
    cursor: pointer;
}

.slider-controls img:nth-child(2){
    transform: rotate(180deg);
}

/* Skills section */
#skills{
    display: flex;
    justify-content: center;
    margin: auto auto;
}

#skills .main-container{
    display: grid;
    justify-content: center;
    justify-items: center;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(4, auto);
    grid-template-areas:
        "title title"
        "fig1 fig2"
        "fig3 fig4"
        "text-list text-list"
    ;
    row-gap: 2rem;
    height: 60rem;
}

#skills .main-container h1{
    grid-area: title;
    justify-self: center;
}

#skills-img-01{
    grid-area: fig1;
    background-image: url('../img/people01.png');
    width: 14rem;
    height: 14rem;
}

#skills-img-02{
    grid-area: fig2;
    background-image: url('../img/people02.png');
    width: 14rem;
    height: 14rem;
}

#skills-img-03{
    grid-area: fig3;
    background-image: url('../img/people03.png');
    width: 14rem;
    height: 14rem;
}

#skills-img-04{
    grid-area: fig4;
    background-image: url('../img/people04.png');
    width: 14rem;
    height: 14rem;
}

#skills-img-01,
#skills-img-02,
#skills-img-03,
#skills-img-04{
    border-width: 0.6rem;
    background-size: 100%;
    transform: scale(1);
    transition: transform 0.3s ease-in-out;
}

#skills-img-01:hover,
#skills-img-02:hover,
#skills-img-03:hover,
#skills-img-04:hover{
    transform: scale(1.1);
}

.skills-list{
    grid-area: text-list;
    margin-left: 2rem;
}

.skills-list li{
    font-size: 1.8rem;
    line-height: 2.2rem;
}

/* Key Differentiators section */
.key-differentiators-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4rem;
}

.key-differentiator{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    line-height: 3.2rem;
    background-color: #1D3358;
    width: 34rem;
    height: 12rem;
    padding: 3rem 1.4rem;
    border-radius: 5rem 0 5rem 0;
    font-size: 1.8rem;
    transform: scale(1);
    transition: transform 0.3s ease-in-out;
}

.key-differentiator:hover{
    transform: scale(1.1);
}


/* Contact section */
#contact{
    height: calc(100vh - 2 * var(--header-height));
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 2rem;
}

#contact .main-container{
    height: 40rem;
    gap: 2rem;
}

#contact .main-container h1{
    padding-bottom: 1rem;
}

.contact-container{
    width: 27rem;
    height: 22.7rem;
    background-image: url('../img/note.png');
    background-size: contain;
    background-repeat: no-repeat;
    border: none;
    border-radius: 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: flex-start;
    transform: scale(1);
    transition: transform 0.3s ease-in-out;
}

.contact-container:hover{
    transform: scale(1.1);
}

.contact-content{
    grid-column-start: 1;
    grid-column-end: 3;
    padding-top: 2rem;
    height: 15rem;
}

.contact-text{
    font-family: 'Playpen Sans', sans-serif;
    font-size: 1.6rem;
    color: #000;
    padding: 1rem 0.8rem;
    line-height: 1.6rem;
    text-align: center;
}

.brands-logos{
    display: flex;
    justify-content: center;
}

.brands-logos img{
    width: 3.8rem;
    height: 3.8rem;
}


/* Responsivity */

/* Tablets */
@media screen and (min-width: 600px){
    
}

/* Desktops */
@media screen and (min-width: 1280px){

}